.information {
    margin-top: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;

    &__carousel {
        position:relative;
        width: 100%;
        max-width: 150ch;

        &__main {
            position: relative;
            left: 0; right: 0;
            margin: 0 auto;
            width: 35%;

            & img {
                width: 100%;
                border-radius: 0.56rem;
            }
        }
    }

    &__description {
        margin-top: 2rem;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    &__details {
        margin-top: 0.9rem;
        color: white;
        display: flex;
        gap: 1.5rem;

        &__width, &__height, &__calendar, &__likes {
            display: flex;
            align-items: center;
            gap: 0.35rem;
        }
    }

    &__actions {
        margin-top: 0.9rem;
        color: white;
        display: flex;
        gap: 1.5rem;

        &__item {
            background-color: #2B1834;
            box-shadow: 0.2rem 0.2rem 0.4rem rgb(0, 0, 0, .25);
            color: white;
            display: flex;
            gap: 0.5rem;
            padding: 0.25rem 0.35rem;
            align-items: center;
            border-radius: 0.38rem;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}