.photo {
    width: 100%;
    position: relative;

    &:hover &__bookmark {
        top: calc(-0.5% + -0.65rem); 
    }

    & img {
        width: 100%;
        margin-bottom: 0.5rem;
        border-radius: 0.19rem;
        transition: transform 0.3s ease-in-out;
        max-height: 32.50rem;
        min-height: 6.50rem;

        &:hover {
            box-shadow: 0.25rem 0.25rem 0.3rem rgb(0, 0, 0, 0.25);
            transform: scale(1.01);
        }
    }

    &__bookmark {
        position: absolute;
        right: 0.4rem;
        top: -0.45rem; 
        cursor: pointer;
        z-index: 13;
        transition: top 0.3s ease-in-out;
        
        img {
            width: 1.5rem;
            height: 1.5rem;
            min-height: 0.50rem;
        }
    }

    &__download {
        position: absolute;
        right: 0.3rem;
        bottom: 1rem;
        background-color: white;
        height: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0.13rem 0.13rem 0.13rem rgb(0, 0, 0, .25);
        cursor: pointer;
        z-index: 14;

        img {
            width: 1rem;
            height: 1rem;
            min-height: 0.50rem;
        }
    }

    &__information {
        position: absolute;
        right: 1.65rem;
        bottom: 1rem;
        background-color: white;
        height: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0.13rem 0.13rem 0.13rem rgb(0, 0, 0, .25);
        cursor: pointer;
        z-index: 14;

        img {
            margin: 0 0.15rem;
            margin-bottom: 0.08rem;
            width: 0.8rem;
            height: 0.6rem;
            min-height: 0.50rem;
        }
    }
}

@media only screen and (max-width: 1000px) {

    .photo {

        & img {
            max-height: 21rem;
        }
    }
}
